@import url('/node_modules/css-reset/reset.css')

html, body
  font-family "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro0"

body
  padding 0
  margin 0

*
  word-wrap break-word

header
  width 100%
  background url(img/eyecatch) no-repeat
  background-size cover
  padding 10px 10px
  height 420px
  h1
    color white
    padding 30px
    font-size 60px
    line-height 1em

theme(color)
  margin 5px
  h3
    border 1px solid white
    padding 0px 0px 0px 10px
    font-size 12px
    background color
  p
    padding 0 10px
    font-size 12px

#abstract
  background #33B9FF
  color white
  .row.up
    row-margin()
    h2
      padding 10px
      width 40%
      font-size 2em
      line-height 1em
    .subtext
      width 60%
  .row.down.themes
    row-margin()
    section
      &.theme-1
        theme(#CCD200)
      &.theme-2
        theme(#747474)
      &.theme-3
        theme(#15CA40)
      ul
        margin-right 10px


h5
  border 1px solid white
  padding 0px 0px 0px 10px

.row
  display flex
  width 100%

row-margin()
  >*
    margin 10px 10px

.dark-blue
  background #8077AB
  color white

.img-block-3
  width 30%

.img-block-4
  width 312px

.row-img
  display -webkit-flex
  display flex
  padding 10px 20px
  box-pack center
  padding 10px 60px

.img-block-3, .img-block-4
  padding 10px
  margin 10px !important
  border 1px solid white
  > img
    height 280px
    width 100

.house-left
  width 366px !important

.house-right img
  width 260px




h3
  font-size 20px
  font-weight bold
  &.both 
    border-top solid 1px gray
    border-bottom solid 1px gray
    color #659BFC
    margin 10px 0
    font-weight 100


.col-ll 
  width 50%
  padding 10px


.col-llb 
  width 720px
  padding 10px



.col-rr 
  width 40%


.col-rrb 
  width 570px


.col-50 
  width 40%
  padding 5%


img 
  width 100%

img.day 
  width 503px
  margin 0 auto

#profile 
  background #D4F8FF
  width 680px
  height 640px
  .col-rr img 
    height 200px
  
  .name 
    font-weight bold
    text-align center
  
  .belong 
    text-align center

#opt 
  width 680px


p.help 
  margin-left 150px
  font-size 10px
  width 136px



span.cc 
  background #659BFC
  color white
  padding 5px
  font-size 2rem


span.tail 
  color #659BFC
  margin-left 13px


p.title 
  padding-left 40px

hr 
  width 95%


table.time 
  width 100%
  font-size 10px

table.time
  border solid 1px white


table.time td 
  background #B6FCFF
  border solid 1px white


table.time th 
  background #5ACDFF
  color white
  border solid 1px white


td.thd 
  background #DADADA !important
  width 30%


td, th 
  text-align center


.row.spot
  >div:nth-of-type(1) 
    width 40%
  >div:nth-of-type(2) 
    width 261px


.spot
  >div:nth-of-type(1) 
    width 40%
  >div:nth-of-type(2) 
    width 50%
  h5
    font-weight bold
  img 
    width 244px


#depart 
  background url(img/note.jpg) no-repeat
  background-size 268px
  padding 100px 34px 168px 43px
  p 
    color #659BFC !important
    font-size 23px
  table 
    width 100%


.lr-table
  td 
    text-align left
  td:nth-of-type(2) 
    text-align right


#room 
  border solid 1px #659BFC
  margin 30px auto
  width 90%
  padding 0
  .col-ll 
    margin 0
    padding 0
    h5 
      color #659BFC
      padding 0
      span 
        background #659BFC
        color white
        padding 1px 3px
        margin-right 5px
  .col-rr img 
    width 600px
  .col 
    width 200px

#menu 
  width 50%
  border solid 5px white
  background white
  box-shadow 0 0 0 1px, 0 0 0 1px inset
  position relative
  top -100px
  left -25px
  font-size 10px
  h5 
    background #FFFCC7
    text-align center
    border-left solid 1px
    border-top solid 1px
    border-right solid 1px
    padding 2px
  table 
    margin 5px
    width 90%


.food 
  width 260px

.auther 
  text-align right
  padding 0 20px
  a 
    color black !important


.share 
  text-align right
  padding 0 20px



