- var title = "実空間コンピューティング研究室"
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title=title
    meta(name='author', content='elzup')
    meta(name='keywords', content='cps,tdu,岩井研')
    meta(name='description', content='実空間コンピューティング研究室のプロモーションページ')
    link(rel='stylesheet', href='style.css', type='text/css', media='screen', charset='utf-8')
  body
    header
      h1
        | 実空間
        br
        | コンピューティング
        br
        | 研究室
    section#abstract
      .row.up
        h2
          | 北千住駅から徒歩30秒。
          br
          | 「限界を超えろ。」
        .subtext
          | まずは気軽に訪問してみましょう
          br
          | 研究室は基本オープンで、常に誰かしらが在室しています
          br
          | 学部3年前期で開かれるゼミもお勧めです
      .row.down.themes
        section.theme-1
          h3 人間
          .row
            ul
              // スマートにかけないか
              li 人流計測
              li スマート家電
            ul
              li ウェアラブルデバイス
              li 生活支援
        section.theme-2
          h3 防災
          .row
            ul
              li 拡張水位センサ
              li 災害後情報共有システム
              li 土砂災害
        section.theme-3
          h3 都市
          .row
            ul
              li スマートフォン環境センシング
              li ロボットを用いた能動的環境計測
              li 無線センサネットワーク
    section#gallery
      .row
        // ブロック化したほうが良さそう
        .img-block.img-block-4
          img(src='./img/m1.jpg')
          h3 道具棚
          p どこに何が入っているのかわからない
        .img-block.img-block-4
          img(src='./img/m2.jpg')
          h3 書籍棚
          p 幅広く揃っている。画像はごく一部
        .img-block.img-block-4
          img(src='./img/m3.jpg')
          h3 ソファーベッド
          p 寝心地は文句なし(当社比)。3人まで寝れる
        .img-block.img-block-4
          img(src='./img/m4.jpg')
          h3 神具
          p 住民を支えるコーヒーサーバー, 電気ケトル, 炊飯器
    section#days
      .headline.row
        h2.days-title
          // スマートにかけないか?
          span 研
          span 究
          span 生
          span の
          span 一
          span 日
        // クラス必要?
        p 趣味や研究活動など充実しているiwi研民の一日とは？
      hr

      .row
        .col-half
          section#profile
            .row
              .profile-main
                img(src='img/p0.jpg')
                p.belong 未来科学部情報メディア学科4年
                p.name ウマお(TJM)
                p
                  | 残留申請を1ヶ月分まとめて出すと自由に残留できるためおすすめです。
                  a(href='http://cps.elzup.com/') http://cps.elzup.com/
                  | を使うと1年分の残留申請を作成してくことが出来ます。
              .sub-images
                img(src='img/p1.jpg')
                br
                img(src='img/p2.jpg')
                br
                img(src='img/p3.jpg')
                br

          section#options
            .row
              .col-half
                section#food
                  img.food(src='img/food.jpg')
                  .row
                    #menu.option
                      h5 丼
                      table.lr-table(border='0')
                        tr
                          td 親子丼
                          td 0円
                        tr
                          td 麻婆なす丼
                          td 0円
                        tr
                          td そぼろ丼
                          td 0円
                    p.help
                      | 岩井研プレート0円(先生のお計らい,早い者勝ち)
              .col-half
                section#depart
                  p サポートDATA
                  table
                    tr
                      td iwhr商店(菓子)
                      td 100円〜
                    tr
                      td sue商店(水2L)
                      td 90円
                    tr
                      td コーヒー
                      td 20円
                    tr
                      td お米
                      td 0円
                    tr
                      td 電大の湯
                      td 100円
                    tr
                      td 定期券解約
                      td -xx,xxx円
        .col-half
          section
            h3.ribbon 1日のスケジュール
            img.day(src='./img/day.png')
          section
            h3.ribbon 研究室訪問の目安
            table.time
              tbody
                tr
                  for day in [, '月曜', '火曜', '水曜', '木曜', '金曜']
                    th=day
                each term, time in {'1時限': '9:00→10:30', '2時限': '10:40→12:10', '3時限': '13:10→14:40', '4時限': '14:50→16:20', '5時限': '16:30→18:00'}
                  tr
                    td.thd
                      | #{term}
                      br
                      | #{time}
                    for _ in [,,,,,]
                      td 可
          h3.ribbon 周辺スポット
          .row.spot
            div
              img(src='./img/kinkaku.jpg')
            div
              h5 清水寺
              p 嵐山は桜や紅葉の名所である。日本さくら名所100選に選定されている。京都市街の西に位置し、平安時代に貴族の別荘地となって以来、京都の代表的な観光地となっている
          .row.spot
            div
              img(src='./img/matyu.jpg')
            div
              h5 タージ・マハル
              p イタリアのピサ市にあるピサ大聖堂の鐘楼であり、世界遺産「ピサのドゥオモ広場」を構成する観光スポットである
      .row
        #room.row
          .col-ll
            .row
              .col
                h5
                  span.index 1
                  | 寝具
                ul
                  li ソファーベット(独占)
                  li ソファーベット(2人)
                  li ソファーベット(3人)
                  li 椅子の上
                  li 椅子の上(2個)
                  li 椅子の上(3個)
                  li 椅子の上(4個)
                  li マットレス
                  li スポンジベッド
                  li 棚の下
              .col
                h5
                  span.index 2
                  | 神具
                ul
                  li 炊飯器
                  li コーヒーサーバ
                  li 電気ケトル
                  li 水槽
                  li キッチン
                  li 調味料
                h5
                  span.index 3
                  | ホワイトボード
                ul
                  li 女子大プロジェクト
                  li 落書き
                  li 暗号
              .col
                h5
                  span.index 4
                  | 棚
                ul
                  li プリンター
                  li ジェンガ
                  li シャンプーセット
                h5
                  span.index 4
                  | テレビ
                ul
                  li PS4
                  li Wii
                  li PS3
                  li Kinect
                  li ステレオ
                  li HDDレコーダー
          .col-rr
            img(src='./img/room.jpg')
    .auther
      p
        | どうぞ2015年度パンフレットを見比べてください
        a(href='twitter.com/arzzup') @arzzup
    .share
      a.twitter-share-button(href='https://twitter.com/share', data-url='http://cpslab.elzup.com', data-via='Arzzup') Tweet
      script.
        !function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'twitter-wjs');
